<!DOCTYPE html>
<html>
<head>
    <title>VueJS</title>
    <meta charset="utf-8" />
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
    <!-- Modal CSS -->
    <link rel="stylesheet" type="text/css" href="../src/style.css" />
</head>
<body>

    <section id="app">
        <button v-on:click="openModal(5, 'example')">Click to open</button>
        <zaffri-modal v-bind:data="modalConfig"></zaffri-modal>
    </section>

    <!-- Modal Component markup -->
    <template id="zaffri-modal-template" class="zaffri-modal-template">
        <div v-if="data.visible" class="zaffri-modal">

            <div class="zaffri-modal-body">
                <header><h3>{{ data.title }}</h3></header>

                <section class="zaffri-modal-message">
                    <p>{{ data.messageBody }}</p>
                </section>

                <div class="zaffri-modal-button-area">
                    
                    <div v-if="data.type == 'confirm'">
                        <button @click="closeModal(true)">{{ data.confirmText }}</button>
                        <button @click="closeModal(false)">{{ data.cancelText }}</button>
                    </div>

                    <div v-else>
                        <button @click="closeModal">{{ data.confirmText }}</button>
                    </div>
                </div>
            </div>

        </div>
    </template>

    <!-- Custom JS -->
    <script src="../src/modal.js"></script>
    <script src="js/confirm.js"></script>
</body>
</html>